@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" />

    <!-- HERO SECTION -->
    <section class="hero-section">

        <h1 class="hero-title">
            Welcome to <span>TRUNO QBR Platform</span>
        </h1>

        <div class="hero-buttons">
            <a href="/Authentication/Login" class="btn-hero">Login</a>
        </div>
    </section>

