/* HERO SECTION */
.hero-section {
    padding: 110px 40px;
    text-align: center;
    background: linear-gradient(145deg, #4B2E83 0%, #7F3FBF 70%);
    color: white;
    border-radius: 0 0 40px 40px;
    margin-bottom: 60px;
    animation: slideDown .7s ease;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
    animation: fadeIn .8s ease;
}

.hero-title span {
    color: #A5E887;
}

.hero-subtitle {
    margin-top: 15px;
    font-size: 20px;
    opacity: 0.9;
    animation: fadeIn .9s ease;
    margin-bottom: 35px;
}

.hero-buttons {
    margin-top: 20px;
    animation: fadeIn 1.1s ease;
}

.btn-hero {
    background: #A5E887;
    color: #222;
    padding: 14px 34px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 30px;
    text-decoration: none;
    margin-right: 15px;
    transition: .25s;
}

.btn-hero:hover {
    background: #8bd66a;
    transform: scale(1.07);
}

.btn-outline {
    padding: 12px 28px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 30px;
    transition: .25s;
}

.btn-outline:hover {
    background: white;
    color: #4B2E83;
    transform: scale(1.07);
}