@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>

<body>

    <!-- TOP HEADER -->
    <header class="top-header">
        <div class="left-group">
            <div class="logo-group">
                <a class="truno-logo" href="@Url.Action("Dashboard", "Dashboard")"></a>
            </div>
        </div>

        <div class="header-middle">
            <div class="header-title">Business Report Generator</div>
        </div>
    </header>

    <!-- SIDEBAR -->
        <ul class="menu">
            <li>
                <i class="fas fa-qrcode"></i>
                <a asp-controller="Dashboard" asp-action="Dashboard">Dashboard</a>
            </li>

            <li>
                <i class="fas fa-link"></i>
                <a asp-controller="Report" asp-action="Generate">Generate Report</a>
            </li>

            <li>
                <i class="fas fa-phone-volume"></i>
                <a asp-controller="Dashboard" asp-action="Contact">Contact Us</a>
            </li>
        </ul>
    </div>

    <!-- PAGE CONTENT -->
    <div class="content">
        @RenderBody()
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/js/dateFormatter.js"></script>

</body>
</html>
